@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --background-color: white;
  --font-color: rgb(56, 54, 54);
  --special-color:  #d9779c;
  --logo-color: var(--background-color);

  --hover-color: var(--special-color);
  --hover-font-color: var(--background-color);

}

[data-theme="dark"] {
  --background-color:rgb(34 37 75);
  --font-color: rgb(198, 192, 192);
  --special-color: rgb(55 59 105);
  --logo-color: rgb(198, 192, 192);

  --hover-color:rgb(20, 22, 44);
  --hover-font-color: var(--special-color);
}

* {
  margin: 0;
  padding: 0;
  font-family: Raleway;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
}


/* HEADER STYLES */
header {
  height: 100px;
  width: 100%;
  background-color: var(--special-color);
}

h1 {
  font-size: 60px;
  font-family: "Lobster Two";
  float: left;
  margin-left: 8%;
  color: var(--logo-color);
}

.search-container {
  position: relative;
  float: right;
  margin-right: 13%;
  width: 800px;
  height: 100px;
}

#search-bar {
  width: 600px;
  height: 50px;
  font-size: 30px;
  text-align: center;
  color: var(--font-color);
  background-color: var(--background-color);
  border: none;
  border-radius: 30px;
  
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 40%;

}

#search-bar:focus{
  outline: none;
}

#search-btn {
  width: 50px;
  height: 50px;
  background-color: var(--background-color);
  border: none;
  border-radius: 100%;
  font-size: 30px;
  color: var(--font-color);
  padding-top: 5px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  right: 12%;
}

#search-btn:hover {
  background-color: var(--hover-color);
  color: var(--hover-font-color);
  border: 0.5px solid var(--hover-font-color);
}

button:focus {
  outline: none;
}

.btn {
  border: none;
  border-radius: 20px;
  color: var(--font-color);
  background-color: var(--background-color);
  position: absolute;
  font-size: 25px;
  padding: 10px 10px 5px 10px;
}

#day_night {
  top: 3.3%;
  right: 8%;
}

#menu {
  top: 3.3%;
  right: 14.7%;
}


.btn:hover{
  background-color: var(--hover-color);
  color: var(--hover-font-color);
  border: 0.5px solid var(--hover-font-color);
}

.btn:focus{
  outline: none;
}

/* NAVIGATION STYLES */
nav {
  width: 100%;
  background-color: var(--special-color);
  padding-bottom: 10px;
}

ul {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin-left: 10%;
}

li {
  list-style-type: none;
}

li a {
  text-decoration: none;
  font-size: 22px; 
  color: var(--logo-color);
}

li a:hover {
  border-bottom: 1px solid var(--logo-color);
}

.closed{
  display: none;
  margin: 0;
  padding: 0;
}

/* MAIN STYLES */

main{
  width: 100%;
  margin-top: 50px;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.film {
  height: 950px;
  margin-bottom: 20px;
  width: 30%;
  background-color: var(--special-color);
  color: var(--font-color);
  text-align: center;
  border-radius: 20px;
  overflow-y: scroll;
}

.film * {
  line-height: 1.4em; 
}


h3 {
  font-family: "Lobster Two";
  font-size: 30px;
}

.img-wrapper {
  width: 100%;
}

.film img {
  width: 100%;
  height: auto;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}